#posicionamento {
  padding-top: 20%;
  padding-left: 5%;

}

ion-content{
    --background: rgb(233, 171, 185);
  }

ion-button{
  --background: #dd4477;
  --width:30px;
}

h1{
  font-size: 30px;
  color: #dd4477;
  font-weight: 500;
  text-align:center;
  font-family:'Combo', cursive;
}

ion-segment{
  --background:#dd4477;
}

ion-segment-button{
  --border-color: black;
  --border-width: 1px;
}

.total{
  --background: #dd4477;
}

.imagem{
  width: 10%;
}